In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/example_1.csv')

In [4]:
df

    a   b   c   d   e    keyword
0   1   2   3   4   5      Hello
1  11  12  13  14  15       Good
2  21  22  23  24  25       Nice
3  31  32  33  34  35  Beautiful
4  41  42  43  44  45       GoGo

In [5]:
pd.read_table('../datasets/example_1.csv', sep=',')

    a   b   c   d   e    keyword
0   1   2   3   4   5      Hello
1  11  12  13  14  15       Good
2  21  22  23  24  25       Nice
3  31  32  33  34  35  Beautiful
4  41  42  43  44  45       GoGo

In [11]:
# 컬럼이름 항목이 없는 경우의 데이터 로드

pd.read_csv('../datasets/example_2.csv')

    1   2   3   4   5      Hello
0  11  12  13  14  15       Good
1  21  22  23  24  25       Nice
2  31  32  33  34  35  Beautiful
3  41  42  43  44  45       GoGo

In [19]:
pd.read_csv('../datasets/example_2.csv', header=None)

    0   1   2   3   4          5
0   1   2   3   4   5      Hello
1  11  12  13  14  15       Good
2  21  22  23  24  25       Nice
3  31  32  33  34  35  Beautiful
4  41  42  43  44  45       GoGo

In [4]:
pd.read_csv('../datasets/example_2.csv', names=['컬럼1', '컬럼2', '컬럼3', '컬럼4', '컬럼5', '키워드'])

   컬럼1  컬럼2  컬럼3  컬럼4  컬럼5        키워드
0    1    2    3    4    5      Hello
1   11   12   13   14   15       Good
2   21   22   23   24   25       Nice
3   31   32   33   34   35  Beautiful
4   41   42   43   44   45       GoGo

In [3]:
col_names = ['컬럼1', '컬럼2', '컬럼3', '컬럼4', '컬럼5', '키워드']
pd.read_csv('../datasets/example_2.csv', names=col_names, index_col='키워드')

           컬럼1  컬럼2  컬럼3  컬럼4  컬럼5
키워드
Hello        1    2    3    4    5
Good        11   12   13   14   15
Nice        21   22   23   24   25
Beautiful   31   32   33   34   35
GoGo        41   42   43   44   45

In [30]:
pd.read_csv('../datasets/example_1.csv', skiprows=[1, 3])

    a   b   c   d   e    keyword
0  11  12  13  14  15       Good
1  31  32  33  34  35  Beautiful
2  41  42  43  44  45       GoGo

In [22]:
pd.read_csv('../datasets/example_1.csv', skiprows = lambda x : x > 0 and np.random.rand() > 0.5)

    a   b   c   d   e    keyword
0  11  12  13  14  15       Good
1  31  32  33  34  35  Beautiful
2  41  42  43  44  45       GoGo

In [5]:
na_data = pd.read_csv('../datasets/example_3.csv')
na_data

    step     a     b     c   d     e    keyword
0    one   1.0   2.0   3.0   4   5.0      Hello
1    two  11.0  12.0  13.0  14   NaN       Good
2  three   NaN  22.0  23.0  24  25.0       Nice
3   four  31.0  32.0   NaN  34  35.0  Beautiful
4   five  41.0   NaN  43.0  44  45.0        NaN

In [6]:
pd.isnull(na_data)

    step      a      b      c      d      e  keyword
0  False  False  False  False  False  False    False
1  False  False  False  False  False   True    False
2  False   True  False  False  False  False    False
3  False  False  False   True  False  False    False
4  False  False   True  False  False  False     True

In [11]:
na_data = pd.read_csv('../datasets/example_3.csv', na_values=['Null', 'NaN', 'one', 'two'])
na_data

    step     a     b     c   d     e    keyword
0    NaN   1.0   2.0   3.0   4   5.0      Hello
1    NaN  11.0  12.0  13.0  14   NaN       Good
2  three   NaN  22.0  23.0  24  25.0       Nice
3   four  31.0  32.0   NaN  34  35.0  Beautiful
4   five  41.0   NaN  43.0  44  45.0        NaN

In [5]:
pd.read_csv('../datasets/서울시_지하철호선별_역별_승하차수.csv').head()

    �������     ȣ����          ����  �����ѽ°���  �����ѽ°���.1  �������.1
0  20210527  ���̽ż���   4.19���ֹ���        2711          2708   20210530
1  20210527     �����          ����        6327          6127   20210530
2  20210527      8ȣ��      ��������        7602          8441   20210530
3  20210527      3ȣ��      ��������        8696          8498   20210530
4  20210527      ��μ�  ��������д���       18780         21785   20210530

In [7]:
pd.read_csv('../datasets/서울시_지하철호선별_역별_승하차수.csv', encoding='cp949', engine='python').head()

       사용일자    호선명        역명  승차총승객수  하차총승객수      등록일자
0  20210527  우이신설선  4.19민주묘지    2711    2708  20210530
1  20210527    경원선        가능    6327    6127  20210530
2  20210527    8호선      가락시장    7602    8441  20210530
3  20210527    3호선      가락시장    8696    8498  20210530
4  20210527    경부선   가산디지털단지   18780   21785  20210530

In [3]:
pd.get_option("display.max_columns")

20

In [2]:
pd.get_option("display.max_rows")

60

In [4]:
pd.read_csv('../datasets/example_wide.csv')

,a,b,c,d,e,f,g,h,i,j,...,r,s,t,u,v,w,x,y,z,keyword
0,1,2,3,4,5,6,7,8,9,10,...,18,19,20,21,22,23,24,25,26,Hello
1,11,12,13,14,15,16,17,18,19,20,...,28,29,30,31,32,33,34,35,36,Good
2,21,22,23,24,25,26,27,28,29,30,...,38,39,40,41,42,43,44,45,46,Nice
3,31,32,33,34,35,36,37,38,39,40,...,48,49,50,51,52,53,54,55,56,Beautiful
4,41,42,43,44,45,46,47,48,49,50,...,58,59,60,61,62,63,64,65,66,GoGo

In [3]:
pd.set_option("display.max_columns", 30)

In [4]:
pd.read_csv('../datasets/example_wide.csv')

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,keyword
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,Hello
1,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,Good
2,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,Nice
3,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,Beautiful
4,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,GoGo

In [5]:
pd.get_option("display.max_columns")

30

In [6]:
pd.options.display.max_columns = 30

In [7]:
pd.read_csv('../datasets/example_wide.csv')

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,keyword
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,Hello
1,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,Good
2,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,Nice
3,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,Beautiful
4,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,GoGo

In [8]:
pd.get_option("display.max_columns")

30

In [4]:
import seaborn as sns

In [5]:
iris = sns.load_dataset('iris')

In [6]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [25]:
pd.set_option("display.max_rows", 150)

In [26]:
iris

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
17            5.1          3.5           1.4          0.3      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
35            5.0          3.2           1.2          0.2      setosa
36            5.5          3.5           1.3          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
39            5.1          3.4           1.5          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
43            5.0          3.5           1.6          0.6      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
71            6.1          2.8           4.0          1.3  versicolor
72            6.3          2.5           4.9          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
84            5.4          3.0           4.5          1.5  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3  versicolor
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2  versicolor
93            5.0          2.3           3.3          1.0  versicolor
94            5.6          2.7           4.2          1.3  versicolor
95            5.7          3.0           4.2          1.2  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

In [17]:
pd.get_option("display.max_rows")

100

In [5]:
iris.to_csv('../datasets/iris.csv')

In [7]:
iris.to_csv('../datasets/iris_sepal.csv', columns=['sepal_length', 'sepal_width', 'species'])

In [8]:
iris.to_csv('../datasets/iris_noheader.csv', header=False)

In [9]:
iris.to_csv('../datasets/iris_headername.csv', header=['꽃받침_길이', '꽃받침_넓이', '꽃잎_길이', '꽃잎_넓이', '종류'], encoding='cp949')

In [17]:
iris.to_csv('../datasets/iris_noindex.csv', index=False)

In [25]:
iris.to_excel('../datasets/iris.xlsx')